.footer {
    padding-bottom: 24px;
    &__wrapper {
        padding-top: 17px;
        padding-bottom: 40px;
        border-top: 1px solid $second-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: 32px;
        }
    }
    &__nav-list {
        @include mobile {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            font-size: 12px;
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        &:hover {
            color: $link-hover;
        }
        @include mobile {
            font-size: 10px;
        }
    }
    &__copyright {
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        @include mobile {
            font-size: 10px;
        }
    }
}
