.radio {
    &__input {
        position: absolute;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    &__label {
        display: inline-block;
        padding: 16px 24px;
        font-size: 14px;
        line-height: 1;
        text-transform: uppercase;
        cursor: pointer;
        border: 1px solid $second-color;
        border-radius: 36px;
        &:hover:not(:disabled) {
            color: #EFE7BE;
        }
        @include tablet {
            font-size: 12px;             
            padding: 12px 16px;
        }
        &_spec {
            padding-left: 52px;
            background-image: var(--bg-image);
            background-size: 36px;
            background-position: 8px;
            background-repeat: no-repeat;
            @include tablet {
                padding-left: 40px;
                background-size: 24px;
            }
        }
    }
}

.radio__input:checked + .radio__label,
.radio__input:focus + .radio__label {
    color: $dark-color;
    background: $main-color;
}

.radio__input:disabled + .radio__label {
    opacity: 0.4;
}

.radio__input_spec:checked + .radio__label,
.radio__input_spec:focus + .radio__label {
    color: $dark-color;
    background: $main-color;
    padding-left: 52px;
    background-image: var(--bg-image);
    background-size: 36px;
    background-position: 8px;
    background-repeat: no-repeat;
}